<%- include('layout/header') %>

<section class="mainnn">
    <div class="contnn">
        <div>
            <h1>dashboard</h1>
        </div>
        <% if (messages != '') { %>
         
     
        <div class="table">
            <table class="">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>name</th>
                        <th>email</th>
                        <th>view</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% messages.forEach((row, index) => { %>
                        <tr>
                            <td><%= index %></td>
                            <td> <img src="<%= row.image%>" width="50" class="image-thumbnail" alt=""> </td>
                            <td><%= row.name %></td>
                            <td><%= row.email %></td>
                            <td><a href="/view/<%= row._id %>">view</a></td>
                            <td> <a href="/edit/<%=row._id %>">edit</a> </td>
                            <td> <a href="/delete/<%=row._id %>">delete</a> </td>
                        </tr>
                    <% }) %>
                </tbody>
                </table>
        </div>
        <% } else {%>
        <h1>
            No requests found
        </h1>

        <% } %>
         
    </div>
</section>
